# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
# max_line_length = 80

[**/*.{ts,js}]
# indent_style = tab
trim_trailing_whitespace = true

# Leave PO/MO/POT files alone
[**/*.{po,mo,pot}]
insert_final_newline = false
